<footer class="footer">
  <div class="footer-inner">
    <p>© <%= new Date().getFullYear() %> Math Club. Barcha huquqlar himoyalangan.</p>
  </div>
</footer>
<script>
  window.IS_LOGGED_IN = <%= user ? 'true' : 'false' %>;
</script>
<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<script src="https://unpkg.com/swiper@9/swiper-bundle.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
