<%- include('partials/head') %>
<%- include('partials/navbar') %>
<main class="page" data-aos="fade-up">
  <section class="section results">
    <div class="section-inner">
      <h1 class="section-title">O‘quvchilar natijalari</h1>
      <div class="swiper results-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide magnify-container">
            <img src="/images/result1.jpg" alt="Natija 1" class="magnify-image" />
            <div class="magnifier-lens"></div>
          </div>
          <div class="swiper-slide magnify-container">
            <img src="/images/result2.jpg" alt="Natija 2" class="magnify-image" />
            <div class="magnifier-lens"></div>
          </div>
          <div class="swiper-slide magnify-container">
            <img src="/images/result3.jpg" alt="Natija 3" class="magnify-image" />
            <div class="magnifier-lens"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include('partials/footer') %>
